.settings/
.project
.classpath
.springBeans
/*/.springBeans
target/
/.settings
/.settings/*
/target
/target/*
/*.project
/*.classpath
/*/.settings
/*/.seetings/*
/*/target
/*/target/*
/*/.project
/*/.classpath
